/* Add this CSS code to your stylesheet */
.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-results .user-card {
  width: 25%;
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-top: 0;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  height: 150px; /* Increase the height to make the profile picture bigger */
}

.avatar-wrapper .avatar {
  width: 120px; /* Increase the width to make the profile picture bigger */
  height: 120px; /* Increase the height to make the profile picture bigger */
  border-radius: 50%;
  overflow: hidden;
}

.avatar-wrapper .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  margin-top: 10px;
  font-size: 14px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-wrapper button {
  flex: 1;
  margin: 0 5px;
}

.button-wrapper button:first-child {
  background-color: #007bff; /* Blue color */
  color: #fff;
}

.button-wrapper button:last-child {
  background-color: #007bff; /* Blue color */
  color: #fff;
}

.user-card:hover {
  background-color: #eaf6ff;
  cursor: pointer;
}

.user-info {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.user-info span {
  display: inline-block;
  margin-right: 5px;
}

.user-info .label {
  font-weight: bold;
}

.user-info .value {
  color: #888;
}

.post {
  background-color: #88888882;
  color: black;
  border-style: solid;
  border-color: blue;
  margin-right: 100px;
  margin-left: 100px;
  background: #D0E4F5 url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ad04ddc5-40b7-4d1a-bb4c-7b3281f4862c/dmxp1j-9ed4336c-b5ee-4de1-9878-11df621322d0.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FkMDRkZGM1LTQwYjctNGQxYS1iYjRjLTdiMzI4MWY0ODYyY1wvZG14cDFqLTllZDQzMzZjLWI1ZWUtNGRlMS05ODc4LTExZGY2MjEzMjJkMC5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.8Nub3XuhKxnu9wmayOR0U_ehDLZwxRXli7ASJyYZawU") no-repeat scroll -50px -50px;

}

.huzzah-container {
  /* float: right;
margin-top: flex; */

font-weight: bold;
}
.field {
  display: none;
}
.edit-submit{
  display: none
}